name: PR Gitleaks Comment

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '.gitleaksignore'

permissions:
  pull-requests: write
  contents: read

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: PR Gitleaks Comment Generator
        uses: epy0n0ff/gitleaks-diff-comment@1d84778448ccb7b4151bfa0a7a40365304f5f200
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pr-number: ${{ github.event.pull_request.number }}
          debug: 'true'
